.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem 1rem;
    justify-content: center;
    margin-top: 2rem;
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: $list_color;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        box-shadow: 5px 0px 20px black;
        padding: 1rem 1rem 2rem 1rem;
        position: relative;
        .order {
            font-size: 0.9rem;
            height: 3rem;
            line-height: 3;
            position: absolute;
            top: -3rem;
            left: 1;
            padding: 0 1rem 0 0.5rem;
            background: linear-gradient(to right ,$list_color,transparent);
        }
        .flag {
            height: 40%;
            width: 100%;
            margin: 0 auto;
        }
        
        .flag img{
            max-width: 100%;
            max-height: 100%;
            min-height: 90%;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            box-shadow: 5px 5px 10px black;
        }
        
        .numbers {
            background-color: $color_brown_light;
            color: $color_brown_extra;
            width: 6rem;
            padding: 0.3rem;
            border-radius: 5px;
        }
    }
}

.card_fade_in {
    animation: card-fade-in 1s;
}
@keyframes card-fade-in {
    from {
        transform: translate(0, 50%);
    }

    to {
        transform: translate(0, 0);
    }
}

/* MEDIA QUERIES */
@media screen and (max-width:1300px) {
    .cards {
        font-size: 0.8rem;
        grid-template-columns: repeat(3,1fr);
        width: 80%;
        margin: 2.5rem auto;
    }

    .order {
        font-size: 0.7rem;
        height: 2rem;
        line-height: 2rem;
        top: -2rem;
    }

    .card {
        height: 20rem;
    }

}

@media screen and (max-width:900px) {
    .cards {
        width: 90%;
    }
}

@media screen and (max-width:700px) {
    .cards {
        width: 95%;
        font-size: 0.7rem;
    }

    .order {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:400px) {
    .cards {
        font-size: 0.6rem;
    }

    .order {
        font-size: 0.5rem;
    }

}
/* MEDIA QUERIES */
