.field {
    /* background-color: rgba(188, 107, 37,0.8); */
    background-color: rgb(128, 128, 128,0.5);
    padding: 3rem 5rem;
    margin: 2.5rem 0 5rem;
    border-radius: 10px;
}


/* CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 23rem;
    text-align: center;
    background-color: var(--color-green);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 5px 0px 20px black;
    padding: 1rem 1rem 2rem 1rem;
    position: relative;
}

.order {
    font-size: 0.9rem;
    height: 3rem;
    line-height: 3;
    position: absolute;
    top: -3rem;
    left: 1;
    padding: 0 1rem 0 0.5rem;
    background: linear-gradient(to right ,var(--color-green),transparent);
}

.card .flag {
    height: 40%;
    width: 100%;
    margin: 0 auto;
}

.card .flag img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 5px 5px 10px black;
}

.card .description {
    height: 5rem;
    overflow: auto;
    
}

/* CARDS */
/* LIST */

.state-bar {
    color: var(--color-brown-extra);
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr  2fr;
    justify-items: center;
    margin-bottom: 1.5rem; 
    border-bottom: 0.5px solid white;
    padding-bottom: 1rem;
}

.state-bar .sort-button {
    background-color: transparent;
    color: white;
    cursor: pointer;
    position: relative;
}

.state-bar .sort-button:hover .sorting-state {
    opacity: 1;
}

.state-bar .sorting-state {
    position: absolute;
    top: -200%;
    right: -150%;
    background-color: #bc6c25;
    color: white;
    width: 3rem;
    padding: 2px;
    opacity: 0;
    transition: all 500ms;
}

.item {
    background-color: var(--color-green);
    padding: 1rem;
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 0.8rem;
    box-shadow: 0px 12px 20px black;
    border-radius: 20px;
    position: relative;
}


.item .flag {
    height: 4rem;
    width: 6rem;
}

.item .flag img{
    width: 100%;
    height: 100%;
}

.item .name {
    text-align: center;
}

.item .numbers {
    margin-left: 1.5rem;
    text-align: center;
}

.item .description {
    width: 14rem;
    height: 4rem;
    overflow: hidden;
    position: relative;
}

.item .description::after {
    content: '';
    width: 100%;
    height: 3rem;
    background: linear-gradient(transparent,#2e401c);
    position: absolute;
    left: 0;
    bottom: 0;
}

.item .big-desc {
    height: auto;
    width: 14rem;
}

.item .more-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.small-desc {
    height: auto;
}

.item .hidden-eye {
    display: none;
}



/* LIST */

/* ANIMATION */
.field-fade-in {
    animation: field-fade-in 2s;
}

@keyframes field-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.item-fade-in {
    animation: item-fade-in 1s;
}

@keyframes item-fade-in {
    from {
        transform: translate(10%, 10%);
        opacity: 0;
    }

    to {
        transform: translate(0,0);
        opacity: 1;
    }
}


/* CARD ANIMATION */

.card-fade-in {
    animation: card-fade-in 1s;
}

@keyframes card-fade-in {
    from {
        transform: translate(0, 50%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* ANIMATION */