/* Navigator */


.navigator {
    display: grid;
    grid-template-columns: 80% 1fr;
    align-items: center;
    padding-bottom: 3rem;
    border-bottom: white solid 1px;
}

.btns__wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem 0;
    padding: 1rem;
    border-right: solid 1px white;
}

.btn {
    padding: 0.7rem 0;
    width: 8rem;
    background-color: var(--color-brown-light);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 1px black;
    border-radius: 25px;
    transition: 300ms;
    transform: rotate(0deg);
}

.btn__active {
    transform: rotate(5deg);
    background-color: var(--color-green);
    color: white;
}

.btn:hover {
    transform: scale(0.9);
}

.display__options {
    
    margin: 2rem auto 0;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--color-green);
}

.display__options__select {
    border-radius: 5px;
    margin-left: 0.5rem;
    font-weight: bold;
    outline: none;
}

.display__options__select option {
    font-weight: bold;
}

/* Navigator */