:root {
  --color-brown: #bc6c25;
  --color-brown-light: #b77e4c;
  --color-brown-extra: #ffe6a7;
  --color-green: #2e401c;
  --color-green-light: #a4b75c;

  --font: 'Montserrat', sans-serif;

  --body-color: rgb(65, 2, 2);
  --field-color: rgb(146, 1, 1);
  --button-color: rgb(146, 1, 1);
  --list-color:#ffe6a7;
  --active-color: #ffe6a7;
  --interaction-color: black;
}




* {
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background-color: var(--body-color);
}

.container {
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
  }
}