:root {
  --color-brown: #bc6c25;
  --color-brown-light: #b77e4c;
  --color-brown-extra: #ffe6a7;
  --color-green: #2e401c;
  --color-green-light: #a4b75c;
}




* {
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(to right, white, black); */
  font-family: 'Montserrat', sans-serif;
  /* background-color: rgb(130, 126, 126); */
  background-color: rgb(10, 124, 124);

}

.container {
  width: 80%;
  margin: auto;
}