    $color_brown: #bc6c25;
    $color_brown_light: #b77e4c;
    $color_brown_extra: #ffe6a7;
    $color_green: #2e401c; // maybe delete
    $color_green_light: #a4b75c; // maybe delete

    $font: 'Montserrat', sans-serif;

    $body_color: rgb(65, 2, 2);
    $field_color: rgb(146, 1, 1);
    $button_color: rgb(146, 1, 1);
    $list_color:#ffe6a7;
    $active_color: #ffe6a7;
    $interaction_color: black;