@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');

    $color_brown: #bc6c25;
    $color_brown_light: #b77e4c;
    $color_brown_extra: #ffe6a7;
    $color_green: #2e401c; // maybe delete
    $color_green_light: #a4b75c; // maybe delete

    $font: 'Montserrat', sans-serif;
    $sub_font: 'Montserrat Subrayada', sans-serif;

    $body_color: rgb(65, 2, 2);
    $field_color: rgb(146, 1, 1);
    $button_color: rgb(146, 1, 1);
    $list_color:#ffe6a7;
    $active_color: #ffe6a7;
    $interaction_color: black;