header {
  height: 20rem;
  position: relative;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: black;
  -webkit-box-shadow: 0px 6px 10px black;
          box-shadow: 0px 6px 10px black;
}
header .header__image {
  opacity: 0.3;
  position: absolute;
  top: -80%;
}
header .header__image img {
  width: 100%;
}
header .header__text {
  margin-right: 3rem;
  font-size: 4rem;
  font-weight: normal;
  position: relative;
  color: #bc6c25;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: 5px 5px 5px black;
}
header .header__text::before, header .header__text::after {
  content: "#Top10";
  position: absolute;
  top: -1rem;
  right: 55%;
  font-weight: 700;
  font-size: 1.5rem;
  color: #999;
  color: #ffe6a7;
}
header .header__text::after {
  content: "On Various Aspects.";
  top: 95%;
  left: 20%;
  width: 15.1rem;
  border-bottom: solid 1px #ffe6a7;
  font-weight: normal;
  text-shadow: none;
}
header .note {
  font-size: 3rem;
  color: var(--color-brown-extra);
  color: black;
  position: absolute;
  bottom: 0.5rem;
  left: 0.3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}